@{
    ViewData["Title"] = "About Portfolio Builder";
}

<h1>About Portfolio Builder</h1>
<p>This project showcases applications built by Binh Tang using technologies like .NET MAUI, React, JS, and Flutter.</p>